---
layout: default
---

<div class="about">
  <h2>I'm a trustworthy engineer.</h2>

  It's not just about the code — my mission is to help you grow your business, making it more profitable and efficient.
  My top priority is understanding <b>your needs</b> and sharing ideas that lead to <b>meaningful improvements.</b>
  <div class="call-to-action">
    <a href="/contact" class="button button-red">Work with me!</a>
    <a href="/about-me" class="button button-grey">About</a>
  </div>
</div>

</hr>

<div class="posts">
  <h1>Blog posts:</h2>
  {% for post in site.posts %}
    {% if post.live == true %}
      <article class="post">

        <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

        <div class="entry">
          {{ post.excerpt }}
        </div>

        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </article>
    {% endif %}
  {% endfor %}
</div>
