.button {
  display: inline-block;
  padding: 0.35em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',
  sans-serif;
  font-weight: 300;
  text-align: center;
  transition: all 0.2s;
}

.button-grey {
  border: 0.1em solid #000000;
  color: #ffffff;
  background-color: #000000;
}

.button-grey:hover {
  color: #000000;
  background-color: #ffffff;
}

.button-red {
  background-color: #ce0a0ad7;
  border: 0.1em solid #ce0a0ad7;
  color: #ffffff;
}

.button-red:hover {
  color: #000000;
  background-color: #ffffff;
}

.button-blue {
  background-color: #0a51e9d7;
  border: 0.1em solid #0a27ced7;
  color: #ffffff;
  transition-duration: 0.2s;
}

.button-blue:hover {
  color: #0a51e9d7;
  background-color: #ffffff;
  color: #000;
}


@media all and (max-width:30em) {
  button-grey {
    display: block;
    margin: 0.4em auto;
  }
}
